<div class="region" [formGroup]="form">
  <div class="kafe-form__field">
    <label class="kafe-form__label">Select Region</label>
    <p-table [value]="suggestedRegions || []">
      <ng-template #header>
        <tr>
          <th>Region</th>
          <th>Available Slots</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-suggestedRegion>
        <tr>
          <td>{{ suggestedRegion.region.label }}</td>
          <td>{{ suggestedRegion.availableSlots }}</td>
          <td>
            <p-radiobutton
              name="region"
              [value]="suggestedRegion.region"
              formControlName="region"
              inputId="region-{{ suggestedRegion.region.id }}"
            />
            <label for="region-{{ suggestedRegion.region.id }}" class="ml-2">
              Select
            </label>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
