<div class="contact" [formGroup]="form">
  <p class="text-sm">
    Provide your contact information so we can confirm your reservation and
    share any updates.
  </p>
  <div class="kafe-form__field">
    <label class="kafe-form__label">Name</label>
    <input type="text" pInputText formControlName="name" class="w-md" />
  </div>
  <div class="kafe-form__field">
    <label class="kafe-form__label">Email</label>
    <input type="text" pInputText formControlName="email" class="w-md" />
  </div>
  <div class="kafe-form__field">
    <label class="kafe-form__label">Phone</label>
    <input type="text" pInputText formControlName="phone" class="w-md" />
  </div>
</div>
