<div class="region" [formGroup]="form">
  <div class="kafe-form__field">
    <label class="kafe-form__label">
      Select Region <sup class="text-red-500">*</sup>
    </label>
    <p-table [value]="suggestedRegions || []">
      <ng-template #header>
        <tr>
          <th>Region</th>
          <th>Available Slots</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-suggestedRegion>
        <tr>
          <td>{{ suggestedRegion.region.label }}</td>
          <td>
            @if (suggestedRegion.availableSlots === 0) {
              <span class="region__slot-info">Fully booked</span>
            }
            @else if (suggestedRegion.availableSlots <= 2) {
             {{ suggestedRegion.availableSlots }} <span class="region__slot-info">Few spots left</span>
            }
            @else {
              {{ suggestedRegion.availableSlots }}
            }
          </td>
          <td>
            @if (suggestedRegion.availableSlots > 0) {
              <p-radiobutton
                name="region"
                [value]="suggestedRegion.region"
                formControlName="region"
                inputId="region-{{ suggestedRegion.region.id }}"
              />
              <label for="region-{{ suggestedRegion.region.id }}" class="ml-2">
                Select
              </label>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
    @if (form.get('region')?.invalid && form.get('email')?.dirty) {
      <small class="p-error block text-red-500 mt-2">
        Please select region
      </small>
    }
  </div>
</div>
