<div class="reservation">
  <div class="booking-form__card-container">
    <p-card>
      <app-header></app-header>
      <p-stepper [value]="1">
        <form [formGroup]="reservationForm">
          @for (stepItem of steps; track stepItem.title) {
            <p-step-item [value]="stepItem.step">
              <p-step>
                <h3 class="booking-form__step-title">{{ stepItem.title }}</h3>
              </p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">

                  <ng-container [ngSwitch]="stepItem.step">
                    <app-booking-details *ngSwitchCase="1" [form]="reservationForm" [suggestedRegions]="(suggestedRegions$ | async) || []"></app-booking-details>
                    <app-contact-details *ngSwitchCase="2" [form]="reservationForm"></app-contact-details>
                    <app-step-review *ngSwitchCase="3" [formValue]="reservationForm.value"></app-step-review>
                  </ng-container>

                  <div class="flex py-10 gap-2">
                    @if (stepItem.step > 1) {
                      <p-button
                        label="Back"
                        severity="secondary"
                        (onClick)="activateCallback(stepItem.step - 1)"
                      />
                    }

                    @if (stepItem.step < steps.length) {
                      <p-button
                        label="Next"
                        (onClick)="activateCallback(stepItem.step + 1)"
                      />
                    }

                    @if (stepItem.step === steps.length) {
                      <p-button label="Book" (click)="submit()" />
                    }
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>
          }
        </form>
      </p-stepper>
    </p-card>
  </div>
</div>