<div class="review">
  <p class="text-sm">
    Ensure all details are correct, then confirm your booking to secure your
    spot
  </p>
  <div class="mt-5">
    <h3 class="review__title">Booking Details</h3>
    <div class="review__item">
      <label class="review__item-label">Date:</label>
      <span class="review__item-value">{{ formValue.date | date:'MMMM d, y' }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Time:</label>
      <span class="review__item-value">{{ formValue.timeslot.label }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Party Size:</label>
      <span class="review__item-value">{{ formValue.partySize }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Will children be part of your reservation?</label>
      <span class="review__item-value">{{ formValue.childrenAllowed }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Is smoking preferred for your reservation?</label>
      <span class="review__item-value">{{ formValue.smokingAllowed }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Region</label>
      <span class="review__item-value">{{ formValue.region?.label }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Name</label>
      <span class="review__item-value">{{ formValue.name }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Email</label>
      <span class="review__item-value">{{ formValue.email }}</span>
    </div>
    <div class="review__item">
      <label class="review__item-label">Phone</label>
      <span class="review__item-value">{{ formValue.phone }}</span>
    </div>
  </div>
</div>
