/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";

@use "tailwindcss";

@use 'base';
@use 'stepper';
@use 'typography';

.p-step.p-component.p-step-active .p-step-number{
  background-color: var(--brown);
  font-family: var(--font-montserrat-semibold) !important;
  color: #fff !important;
}

.p-step-number {
  font-family: var(--font-montserrat-medium) !important;
  color: var(--dark) !important;
}