<div class="review">
  @if (!form.valid) {
    <h3 class="text-red-500 mt-3">
      Please fill out all required fields to book.
    </h3>
  }
  @else {
    <p class="text-sm">
      Ensure all details are correct, then confirm your booking to secure your
      spot
    </p>
    <div class="mt-5">
      <h3 class="review__title">Booking Details</h3>
      <div class="review__item">
        <label class="review__item-label">Date:</label>
        <span class="review__item-value">{{ form.value.date | date:'MMMM d, y' }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Time:</label>
        <span class="review__item-value">
          @if (form.value.timeslot) {
            {{ form.value.timeslot.label }}
          }
        </span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Party Size:</label>
        <span class="review__item-value">{{ form.value.partySize }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Will children be part of your reservation?</label>
        <span class="review__item-value">{{ form.value.childrenAllowed ? 'Yes' : 'No' }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Is smoking preferred for your reservation?</label>
        <span class="review__item-value">{{ form.value.smokingAllowed ? 'Yes' : 'No' }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Region</label>
        <span class="review__item-value">
          @if (form.value.region) {
            {{ form.value.region.label }}
          }
        </span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Name</label>
        <span class="review__item-value">{{ form.value.name }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Email</label>
        <span class="review__item-value">{{ form.value.email }}</span>
      </div>
      <div class="review__item">
        <label class="review__item-label">Phone</label>
        <span class="review__item-value">{{ form.value.phone }}</span>
      </div>
    </div>
  }
</div>
