<div class="date-time" [formGroup]="form">
  <p class="text-sm">
    Please select the date and time of your reservation. All bookings are
    scheduled in 30-minute intervals between 6:00 PM and 10:00 PM.
  </p>
  <div class="kafe-form__field">
    <label class="kafe-form__label">Select date</label>
    <p-calendar
      class="max-w-full"
      formControlName="date"
      [inline]="true"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [yearNavigator]="false"
      [monthNavigator]="false"
    />
  </div>
  <div class="kafe-form__field">
    <p>Show time slot here</p>
  </div>
</div>
