.date-time {

  .p-datepicker-prev-button,
  .p-datepicker-next-button {
    display: none !important;
  }

  .p-datepicker-title {
    pointer-events: none !important;
  }

  &__timeslot {
    display: flex;
    align-items: center;
  
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:first-of-type {
      margin-top: 1rem;
    }

    p-radiobutton {
      line-height: 0;
    }
  }
}
