.booking-details {

  .p-datepicker-prev-button,
  .p-datepicker-next-button {
    display: none !important;
  }

  .p-datepicker-title {
    pointer-events: none !important;
  }

  &__checkbox-field {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__timeslot {
    display: flex;
    align-items: center;
  
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    p-radiobutton {
      line-height: 0;
    }
  }
}
