<div class="reservation">
  <div class="reservation__card-container">
    <p-card>
      <app-header></app-header>
      <p-stepper [value]="1">
        <ng-container *ngFor="let step of steps">
          <p-step-item [value]="step.value">
            <p-step>
              <h3 class="reservation__step-title">{{ step.title }}</h3>
            </p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">

                <ng-container [ngSwitch]="step.value">
                  <app-step-date-time *ngSwitchCase="1"></app-step-date-time>
                  <app-step-size-and-preferences *ngSwitchCase="2"></app-step-size-and-preferences>
                  <app-step-region *ngSwitchCase="3"></app-step-region>
                  <app-step-contact *ngSwitchCase="4"></app-step-contact>
                  <app-step-review *ngSwitchCase="5"></app-step-review>
                </ng-container>

              </ng-template>
            </p-step-panel>
          </p-step-item>
        </ng-container>
      </p-stepper>
    </p-card>
  </div>
</div>