<div class="completed">
  <div class="completed__card-container">
    <p-card>
    <div class="completed__header">
      <span class="completed__icon-container">
        <i class="pi pi-check text-white text-xl"></i>
      </span>
      <h2 class="completed__title">Reservation Completed</h2>
    </div>
    <p class="completed__description">
      Your reservation is confirmed! Get ready for an amazing experience. 
      You’ll receive an email shortly with all the booking details. Thank you for choosing us!
    </p>
    <div class="completed__action-btn">
      <p-button class="mt-4 mx-auto" label="Make another booking" (click)="bookAnother()"/>
    </div>
  </p-card>
  </div>
</div>
